
//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/iggy.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/usr/share/rofi/themes/arthur.rasi"

@theme "/home/Wolf/.local/share/rofi/themes/rounded-purple-dark.rasi"
